# Dependency directories
node_modules/

# Build outputs
dist/
build/

# Environment variables
.env

# Coverage directory
coverage/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea/
.vscode/
*.swp
*.swo

# OS specific
.DS_Store
Thumbs.db
test-data/en.json
test-data/header.jsx
test-data/ja.json
test-data/ja2.json
test-data/sample-component.jsx
